:root {
  --number-of-squares: 16;
  --background-color: white;
}

header {
  margin-bottom: 20px;
}

#board {
  border: black solid;
  width: 80vh;
  height: 80vh;
  display: grid;
  grid-template-columns: repeat(var(--number-of-squares), 1fr);
  grid-template-rows: repeat(var(--number-of-squares), 1fr)
}

.grid {
  border: darkblue solid 1px;
  background: var(--background-color)
}

.selected {
  background-color: blue;
}
