/* #board {
  position: relative;
  max-width: 90vh;
  max-height: 90vh;
  background-color: red;
  display: grid;
  grid-template-columns: repeat(8, 1fr);
  grid-template-rows: repeat(8, 1fr);
}

#board:before {
  content: "";
  display:block;
  padding-top: 100%;
}

#board div {
  border-style:solid;
  position: absolute;
}
*/
/* h3 {
  float: left;
  margin-right: 15px;
}

button {
  margin-top: 12px;
} */

#board {
  display:grid;
  grid-template-columns: repeat(8, 1fr);
  grid-template-rows: repeat(8, 1fr);
  width: 80vh;
  height: 80vh;
  border-style: solid;
}
