:root {
  --number-of-squares: 16;
  --background-color: white;
}

.controls {
  width: 100%;
  margin: auto;
  margin-bottom: 20px;
  text-align: center;
}

 /* {
  margin: auto;
} */

#board {
  border: black solid;
  width: 80vh;
  height: 80vh;
  display: grid;
  grid-template-columns: repeat(var(--number-of-squares), 1fr);
  grid-template-rows: repeat(var(--number-of-squares), 1fr);
  margin:auto;
}

.grid {
  border: darkblue solid 1px;
  background: var(--background-color)
}

.selected {
  background-color: blue;
}
